
<div style="width:400px;margin:0px auto;padding: 20px;text-align:left;background: #FFE5B4; color: black;">


<h1>New Employee Role</h1>

<%= render 'form', employee_role: @employee_role %>

<%= nav_bar fixed: :top, brand: "ROR ASSIGNMENT" do %>
    <%= menu_group do %>
        <%= menu_item "PROJECTS", projects_path %>
        <%= menu_item "BLOGS", blogs_path %>
        <%= menu_item "EMPLOYEE RATINGS", employee_ratings_path %>
        <%= menu_item "EMPLOYEE ROLES", employee_roles_path %>
    <% end %>
    <% end %>
</div>