<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
        <% if @current_employee_role&.manager? %>
          <%= link_to "Employee_Roles", employee_roles_path %> |
          <%= link_to "Roles", roles_path %>
        <% end %>
      </nav>
  </head>

  <body><br>
  <br>
  <br>
  <%= render 'layouts/header' %>
    <%= yield %>
  </body>

</html>
